@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
body {
  font-family: 'Source Sans Pro';
  padding: 0;
  margin: 0;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
p,
a,
input,
figure,
figcaption,
select,
button,
textarea {
  -webkit-appearance: none;
  margin: 0;
  display: block;
  outline: none;
  color: #000;
  font-family: 'Source Sans Pro';
  border: none;
  font-weight: 300;
}
a {
  text-decoration: none;
}
button,
a {
  cursor: pointer;
  background: none;
}
.wrap-container {
  max-width: 980px;
  margin: 0 auto;
  display: block;
  padding: 60px 0;
  width: 90%;
}
.wrap-container h1 {
  display: block;
  margin: 0 auto 80px;
  text-align: center;
}
.wrap-container h1 img {
  display: inline-block;
}
@media (max-width: 980px) {
  .wrap-container h1 img {
    width: 70%;
    margin: 0 auto 50px;
  }
}
.wrap-container .container-gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 980px) {
  .wrap-container .container-gallery {
    flex-direction: column;
  }
}
.wrap-container .container-gallery .column {
  width: 32%;
}
@media (max-width: 980px) {
  .wrap-container .container-gallery .column {
    width: 90%;
    margin: 0 auto;
  }
}
.wrap-container .container-gallery .column .module {
  width: 100%;
  position: relative;
  height: 160px;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
  overflow: hidden;
  margin: 0 0 20px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.wrap-container .container-gallery .column .module img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.wrap-container .container-gallery .column .module .hover {
  position: absolute;
  top: -320px;
  left: 0;
  width: 100%;
  background: #00d863;
  height: 320px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 10;
}
.wrap-container .container-gallery .column .module .hover .id,
.wrap-container .container-gallery .column .module .hover .author,
.wrap-container .container-gallery .column .module .hover img {
  position: absolute;
  color: #fff;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
}
.wrap-container .container-gallery .column .module .hover .id {
  top: 10%;
  right: 6%;
  font-weight: 700;
  font-size: 32px;
}
.wrap-container .container-gallery .column .module .hover .author {
  bottom: 10%;
  left: 6%;
  font-weight: 400;
  font-size: 18px;
}
.wrap-container .container-gallery .column .module .hover img {
  object-fit: contain;
  height: auto;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) skewY(5deg);
  -webkit-transform: translate(-50%, -50%) skewY(5deg);
  -moz-transform: translate(-50%, -50%) skewY(5deg);
  -ms-transform: translate(-50%, -50%) skewY(5deg);
  -o-transform: translate(-50%, -50%) skewY(5deg);
}
.wrap-container .container-gallery .column .module:hover {
  height: 320px;
}
.wrap-container .container-gallery .column .module:hover .hover {
  top: 0;
}
